<div style="text-align: center">
<%= form_with(model: operation) do |form|%>
  <% if operation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(operation.errors.count, "error") %> prohibited this operation from being saved:</h2>

      <ul>
        <% operation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label "Сума", style: "display: block" %>
    <%= form.text_field :amount %>
  </div>

  <div>
    <%= form.label "Дата", style: "display: block" %>
    <%= form.datetime_field :odate %>
  </div>

  <div>
    <%= form.label "Короткий опис", style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label "Назва категорії", style: "display: block" %>
      <%= select(:operation, :category_id, options_for_select(@categories)) %>
  </div>

  <div>
    <%= form.label "Тип операції", style: "display: block" %>
      <%= select(:operation, :transaction_type, options_for_select(['витрата', 'дохід'])) %>
  </div>

  <div>
    <%= form.submit "Створити", class: "btn btn-success", style: "margin-top: 30px"%>
  </div>
  <div style="padding-top: 10px;">
    <%= submit_tag("Очистити", { :name => 'reset', :id => 'reset_button', :type => "reset", class: "btn btn-danger" }) %>
  </div>
<% end %>
</div>
